html, body { background: transparent; margin: 0; padding: 0; height: auto; width: auto; }
body { padding: 10px; }
pre { margin: 0 !important; padding: 0 !important; font-family: 'Droid Sans Mono', Inconsolata, Courier; }